//Couleurs
$background-color-primary: #FF70BC;
$background-color-secondary: #FFFFFF;
$background-color-tertiary: #4A4747;
$text-color-light:#FFFFFF;
$text-color-dark: #000000;

//Espacements


//Taille de texte
