@use "@/styles/variables" as *;

.title {
  font-weight: 200;
  font-family: $font-primary;
  font-size: 5rem;
  color: $text-color-medium;
  text-align: center;
  margin: 0;
}

.projectItemContainer {
  background-color: $background-color-primary;
}
