@use "@/styles/variables" as *;

.projectContainer {
  display: flex;
  flex-direction: row;
  padding: 0 3em;
  margin: 10px 0;

  img {
    max-height: 30em;
    width: auto;
  }

  .description {
    padding: 9em 2em 0em 1em;
    flex: 1;

    .titleLine {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .projectTitle {
        color: $text-color-dark;
        font-family: $font-secondary;
      }

      .technoLogo {
        display: flex;
        flex-direction: row;
      }
    }

    .textDescription {
      font-family: $font-tertiary;
      color: $text-color-dark;
    }
  }
}
