@use "@/styles/variables" as *;
.navbar {
  background-color: $background-color-primary;
  color: $text-color-light;
  height: 55px;
  align-items: center;

  .list {
    display: flex;
    flex-direction: row;
    gap: $gap;
    list-style: none;
    font-family: $font-secondary;

    img {
      border-radius: 20px;
    }

    a {
      color: $text-color-light;
      text-decoration: none;

      &:hover {
        color: $color-hover;
      }
    }
  }
}
