@use "@/styles/variables" as *;
.navbar {
  background-color: $background-color-primary;
  color: $text-color-light;
  //height: 80px;

  .list {
    display: flex;
    gap: $gap;
    list-style: none;
    font-family: $font-secondary;
    margin: 0;
    align-items: center;
    height: 4.5rem;
    padding-left: 25;

    img {
      border-radius: 20px;
      vertical-align: middle;
    }

    a {
      color: $text-color-light;
      text-decoration: none;
      font-size: $font-size-navbar-title;

      &:hover {
        color: $color-hover-dark;
      }
    }
  }
}
