@use "@/styles/variables" as *;

.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-color-tertiary;
  padding: 0 1em 0 1em;

  .studentHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    h2 {
      font-family: $font-primary;
      font-size: 8rem;
      font-weight: 300;
      color: $text-color-medium;
      margin: 0 0 0 0.5em;

      .IT {
        font-family: $font-secondary;
        font-size: 15rem;
        color: $text-color-light;
        margin: 0;
        line-height: 19rem;
      }
    }
  }

  .skill {
    background-color: $background-color-primary;
    width: 30rem;
    height: 23rem;
    padding-left: 2rem;
    position: relative;
    top: -140px;

    .title {
      color: $text-color-light;
      font-family: $font-primary;
      font-size: 5.5rem;
      margin-top: 0em;
      margin-bottom: 0em;
    }
    li {
      color: $text-color-dark;
      font-family: $font-tertiary;
      font-size: 2rem;
      margin-top: 0em;
    }
  }

  .para {
    margin-top: -2.5em;
    font-family: $font-tertiary;
    font-size: $font-size-paragraphe;
    color: $text-color-light;
  }
}
