@use "@/styles/variables" as *;
.footer {
  background-color: $background-color-tertiary;
  color: $text-color-light;

  .listfooter {
    list-style: none;
    font-family: $font-secondary;

    .logo {
      gap: $gap;
    }

    a {
      color: $text-color-dark;
      text-decoration: none;
      &:hover {
        color: $color-hover;
      }
    }
  }
}
