@use "@/styles/variables" as *;

.herobanner {
  padding: 0 1em 0 0;
  margin-bottom: 140px;
  h1 {
    color: $text-color-dark;
    font-family: $font-primary;
    font-size: 7rem;
    font-weight: 500;
    margin: 0;
    padding-left: 0.1em;
  }

  h2 {
    color: $text-color-medium;
    font-family: $font-secondary;
    font-size: 7rem;
    font-weight: 100;
    margin: 0;
    padding-left: 0.2em;
    line-height: 0.8em;
  }

  .presentation {
    display: inline-flex;
    justify-content: space-between;
    .test {
      //place-content: flex-end;
      flex: 1;
      position: relative;
    }

    p {
      margin-top: 3.5em;
      font-family: $font-tertiary;
      font-size: $font-size-paragraphe;
      position: relative;
      padding-left: 1.5em;
    }

    .back {
      margin-top: -0.5em;
      padding: 0;
      color: #e7d7f1;
      position: absolute;
      font-size: 20.5em;
      font-family: $font-backgroung-primary;
      z-index: -2;
      padding-bottom: 0;
    }

    img {
      border-radius: 50%;
      object-fit: cover;
      //margin-bottom: 10em;
    }
  }
}

//responsive

@media (max-width: 1024px) {
  .herobanner {
    h1,
    h2 {
      font-size: 5rem;
    }

    .presentation {
      .back {
        font-size: 15em;
      }
    }
  }
}

@media (max-width: 768px) {
  .herobanner {
    h1,
    h2 {
      font-size: 3.5rem;
      text-align: center;
      padding-left: 0;
    }

    .presentation {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      margin-top: $responsive-inline-item-spacing-768px;
      p {
        margin-top: $responsive-inline-item-spacing-768px;
      }

      .back {
        display: none;
      }

      img {
        width: 250px;
        height: 250px;
      }
    }
  }
}

@media (max-width: 480px) {
  .herobanner {
    h1,
    h2 {
      font-size: 2.5rem;
    }

    img {
      width: 200px;
      height: 200px;
    }
  }
}
